
<header>
        <div>
            <img class="logomarvel" src="assets/icons/logo.png" alt="logo Marvel">
        </div>
        <section class="input">
            <div>
                <input class="buscador" type="text" name="" id="" placeholder="Search caracter..">
                <a class="lupa" href=""></a>
            </div>
        </section>
    </header>
<main>

    <section class="characters" >
        <div class="characters-title">
          <section class="characters-image">
            <img src="assets/icons/characters.png" alt="">
            <h2>Characters</h2>
          </section>
             <section class="character-input">
              <form name="formulario" method="post" action="">
                <select name="" > 
                  <option value="1"></option>
                  <option value="2"></option> 
                  <option value="3"></option>
                </select>
              </form>
            </section> 
        </div>
   
        <section class="superhero">
        
          <div class="superhero-text"  *ngFor="let character of allcharacters | async |paginate:{itemsPerPage:10,currentPage:page} ">
            
            <section class="superhero-info" >
              <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
              <div >
              <h3>{{character.name}}</h3>
              <p>{{character.description}}</p>
              <button (click)="toogle()" class="superhero-button">VIEW MORE</button>
             </div>
            </section>
           <section class="superhero-comics">
             <h2>Related comics                 
            </h2>
             
             <ul>
                 <li ></li>
                
                
                
             </ul>
            </section>
           </div>

          
               
      

     
        </section>
    </section>

    

   
    <aside>
        <div class="aside-title">
          <img src="assets/icons/favourites.png" alt="favourites">
          <h2>My favourites</h2>
        </div>
        <div class="aside-contents">
            <a href=""></a>
            <img src="assets/icons/flor.jpg" alt="comic favorito">
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sint?   </h4>
        </div>
        <div class="aside-contents">
            <a href=""></a>
            <img src="assets/icons/flor.jpg" alt="comic favorito">
            <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sint?  </h4>
        </div>
        <div class="aside-contents">
          <a href=""></a>
          <img src="assets/icons/flor.jpg" alt="comic favorito">
          <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sint?   </h4>
      </div>
      <div class="aside-contents">
        <a href=""></a>
        <img src="assets/icons/flor.jpg" alt="comic favorito">
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sint?    </h4>
    </div>
    
    </aside> 
  
  </main> 
  <section> <!--  prueba api -->
  
    <pagination-controls  (pageChange)="page=$event">

    </pagination-controls>

    
     
  </section>
  
     
  <footer>
    <h3>Lorem ipsum dolor sit amet.</h3>
  </footer>
